body{
    background-color: black;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter';
}

h1 {
    text-align: center;
    color: white;
}
h4 {
    text-align: center;
    color: white;
}
