* {   
    -webkit-text-size-adjust: none;
    background-color: black;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter';
}

.center {
    line-height: 1000000px;
    height: 100%;
    text-align: center;
}

.center * {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    text-align: center;
    color: white;
    font-size: 30px;
}
h4 {
    text-align: center;
    color: white;
    font-size: 20px;
}
